


/*	STYLING
___________________________________________________________*/
	
	// Border radius's
	.border-radius-sml{
		border-radius: $radius-sm !important;
	}

	.border-radius-none{
		border-radius: 0px !important;
	}


	// Border colours
	.border-primary{
		background-color: transparent ;
		border: 2px solid;
		border-color: $primary;
		color: $primary;

		&:hover{
			background-color:white;
			color: darken($primary,15%);
			border-color: darken($primary,15%);
		}
	}

	.border-midgrey{
		background-color: white;
		border: 2px solid;
		border-color: $midgrey;
		color: $midgrey;

		&:hover{
			background-color:white;
			color: darken($midgrey,25%);
			border-color: darken($midgrey,25%);
		}
	}

	.border-ltegrey{
		background-color: transparent;
		border: 2px solid;
		border-color: $ltegrey;
		color: $ltegrey;

		&:hover{
			background-color:white;
			color: darken($ltegrey,25%);
			border-color: darken($ltegrey,25%);
		}

		@media only screen and ($retina) {
			box-shadow:  0 0 0px darken($ltegrey,25%);
		}
	}

	.border-white{
		background-color: transparent;
		border: 2px solid;
		border-color: white;
		color: white;

		&:hover{
			background-color: transparent;
			color: lighten($primary,20%);
			border-color: lighten($primary,20%);
		}

	}

	.border-green{
		background-color: transparent;
		border: 2px solid;
		border-color: $green;
		color: $green;

		&:hover{
			background-color:white;
			color: darken($green,25%);
			border-color: darken($green,25%);
		}

		@media only screen and ($retina) {
			box-shadow:  0 0 0px darken($ltegrey,25%);
		}
	}


	.border-opaque{
		-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.15), inset 0 1px rgba(0, 0, 0, 0.15), inset -1px 0px rgba(0, 0, 0, 0.15), inset 1px 0px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.15), inset 0 1px rgba(0, 0, 0, 0.15), inset -1px 0px rgba(0, 0, 0, 0.15), inset 1px 0px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 -1px rgba(0, 0, 0, 0.15), inset 0 1px rgba(0, 0, 0, 0.15), inset -1px 0px rgba(0, 0, 0, 0.15), inset 1px 0px rgba(0, 0, 0, 0.15);
		position: relative;

		&:hover{
			border-color: lighten($ltegrey,5%);
		}

		@media only screen and ($retina) {
			box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
		}

	}

	.border-opaque-btm{
		-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.15) ;
		-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 -1px rgba(0, 0, 0, 0.15);
		position: relative;

		&:hover{
			border-color: lighten($ltegrey,5%);
		}

		@media only screen and ($retina) {
			box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
		}

	}

	// Opactity
	.opacity-8{
		opacity: .8;
	}
	
	.opacity-6{
		opacity: .6;
	}


	// this is used in the footer
	.section-block{

		padding-top: 3em;
		padding-bottom: 3em;

		border-top: 1px solid;
		border-color: lighten($ltegrey,15%);
		min-height: 200px;

	}

	.divider-lg{
		height: 2px;
		background-color: $ltegrey;


	}



/*	SHADOWS
___________________________________________________________*/

.shadow-sharp{
	-webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.1), 0 2px 4px 0px rgba(0,0,0,0.05);
	   -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.1), 0 2px 4px 0px rgba(0,0,0,0.05);
	        box-shadow: 0 1px 1px 0px rgba(0,0,0,0.1), 0 2px 4px 0px rgba(0,0,0,0.05);
}

.shadow-soft{
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.text-shadow-soft{
	text-shadow: 0px 5px 13px rgba(black, 0.20); 
}


/*	GRAPHICS
___________________________________________________________*/
	

.appstore{
	background: url(appstore-2x.png) no-repeat;
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 60px;		
}

.appstore-white{
	background: url(appstore-white-2x.png) no-repeat;
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 60px;		
}

img{
	width: 100%;
}






/*	INTERACTIVE HELPER
___________________________________________________________*/



a:hover{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;	
}

.hover-scale:hover{
	-webkit-transform: translate(0px,-3px) scale(1.01);
	-moz-transform: translate(0px,-3px) scale(1.01);
	opacity: 1;		
}

.animated-sm{
	@media only screen and (min-width: $screen-sm){
	-webkit-animation-duration: 2.5s;
	   -moz-animation-duration: 2.5s;
	     -o-animation-duration: 2.5s;
	        animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
	}
}

.animated-fast {
	-webkit-animation-duration: .25s;
	   -moz-animation-duration: .25s;
	     -o-animation-duration: .25s;
	        animation-duration: .25s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}


.delay-tiny{
	animation-delay: .35s;
	-webkit-animation-delay:.35s;
	-ms-animation-delay:.35s;
	-moz-animation-delay:.35s;
}

.delay-tiny-1{
	animation-delay: .45s;
	-webkit-animation-delay:.45s;
	-ms-animation-delay:.45s;
	-moz-animation-delay:.45s;
}

.delay-tiny-2{
	animation-delay: .65s;
	-webkit-animation-delay:.65s;
	-ms-animation-delay:.65s;
	-moz-animation-delay:.65s;
}


.delay-1{
	animation-delay: 1.5s;
	-webkit-animation-delay:1.5s;
	-ms-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
}

.delay-2{
	animation-delay: 2.5s;
	-webkit-animation-delay:2.5s;
	-ms-animation-delay:2.5s;
	-moz-animation-delay:2.5s;	
}

.delay-3{
	animation-delay: 3.5s;
	-webkit-animation-delay:3.5s;
	-ms-animation-delay:3.5s;
	-moz-animation-delay:3.5s;	
}





@-webkit-keyframes fadeInDown-alt {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-140px);
	}

	20% {
		opacity: .8;
	}	

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown-alt {
	0% {
		opacity: 0;
		-moz-transform: translateY(-140px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown-alt {
	0% {
		opacity: 0;
		-o-transform: translateY(-140px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown-alt {
	0% {
		opacity: 0;
		transform: translateY(-140px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown-alt {
	-webkit-animation-name: fadeInDown-alt;
	-moz-animation-name: fadeInDown-alt;
	-o-animation-name: fadeInDown-alt;
	animation-name: fadeInDown-alt;
}



