

/*	COLOURS
___________________________________________________________*/

$drkprimary: #34495e;
$primary: #80bfe5;
$midprimary: #79d7eb;
$lteprimary: #d2f2f8;


$drkgrey: #35495d;
$midgrey: #bdc3c7;
$ltegrey: #f0f1f2;

$red: #e54d42;
$green: #30d864;
$orange: #f8cc00;


$background-colour: lighten($ltegrey,25%);





/*	BREAKPOINTS
___________________________________________________________*/


$screen-sm: 767px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-mx: 1200px;

$laptop-height: 1100px;

$retina: "-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0";




/*	DIMENTIONS AND LENGTHS
___________________________________________________________*/

$baseunit: 24px;







/*	NAV HEIGHTS
___________________________________________________________*/

$nav-height-large: 24px*4;
$nav-height-medium: 24px*3;
$nav-height-small: 24px*2;



/*	RADIUS
___________________________________________________________*/

/*For buttons*/
$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-xl: 32px;

